anyio==3.5.0
asgiref==3.4.1
async-generator==1.10
atomicwrites==1.4.0
beautifulsoup4==4.10.0
certifi==2020.6.20
click==7.1.1
comtypes==1.1.8
contextlib2==21.6.0
contextvars==2.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
dlib==19.19.0
entrypoints==0.3
et-xmlfile==1.0.1
fastai==1.0.34
fastapi==0.75.1
filelock==3.4.1
flake8==4.0.1
flake8-import-order==0.18.1
Flask==1.1.2
future==0.18.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
immutables==0.17
imutils==0.5.3
iniconfig==1.1.1
iopath==0.1.9
mxnet==1.2.1
numba==0.51.2
numexpr==2.6.8
numpy==1.19.5
olefile==0.46
Pillow
requests==2.18.4
torch
torchvision
uvicorn==0.16.0
