anyio==3.5.0
asgiref==3.4.1
async-generator==1.10
atomicwrites==1.4.0
beautifulsoup4==4.10.0
certifi==2020.6.20
click==7.1.1
comtypes==1.1.8
contextlib2==21.6.0
contextvars==2.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
dlib==19.19.0
entrypoints==0.3
et-xmlfile==1.0.1
fastai==1.0.34
fastapi==0.75.1
filelock==3.4.1
flake8==4.0.1
flake8-import-order==0.18.1
Flask==1.1.2
future==0.18.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
immutables==0.17
imutils==0.5.3
iniconfig==1.1.1
iopath==0.1.9
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
JSON-minify==0.3.0
keyboard==0.13.4
lap==0.4.0
llvmlite==0.34.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.1
motmetrics==1.2.0
msgpack==0.6.1
msgpack-numpy==0.4.3.2
mxnet==1.2.1
numba==0.51.2
numexpr==2.6.8
numpy==1.19.5
olefile==0.46
Pillow
pluggy==1.0.0
portalocker==2.4.0
preshed==2.0.1
progress==1.6
progressbar2==3.50.1
py==1.11.0
py-cpuinfo==8.0.0
pycocotools==2.0.4
pycodestyle==2.8.0
pydantic==1.9.0
pyflakes==2.4.0
pyreadline==2.1
pytest==7.0.1
pytest-benchmark==3.4.1
python-multipart==0.0.5
python-utils==2.4.0
pywin32==227
pywinauto==0.6.8
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QtPy==1.9.0
regex==2018.8.29
requests==2.18.4
scikit-image==0.16.2
sniffio==1.2.0
soupsieve==2.3.1
spacy==2.0.16
starlette==0.17.1
tabulate==0.8.9
TBB==0.1
termcolor==1.1.0
terminado==0.9.2
thinc==6.12.0
tomli==1.2.3
torch==1.7.0
torchvision==0.8.1
traitlets==4.3.3
urllib3==1.22
uvicorn==0.16.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.10.11
xmltodict==0.12.0
yacs==0.1.8
